@import url("https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap");

body {
  background-image: url("/assets/CafeCentral.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Arial", sans-serif;
}

#addElement {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  padding: 10px;
}

#taskList {
  font-family: "Arial black";
  font-size: 32px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  transition: background-color 0.4s;
}

#taskList:hover {
  background-color: #808080;
}

h1 {
  font-size: 5em;
  color: white;
}

#addButton,
#printButton {
  width: 200px;
  height: 50px;
  background-color: #000000;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
  border: 2px solid #fa4a0a;
  text-transform: uppercase;
  font-weight: bold;
}

#printButton:hover,
#addButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

input {
  width: 330px;
  height: 30px;
  font-family: "Arial black", cursive;
  font-size: 20px;
}

p {
  color: white;
  font-size: 180%;
}
